<div class="container px-5 py-4">
  <h2 class="text-center mb-4">Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", required: true, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control", required: true, autocomplete: "current-password" %>
    </div>

    <div class="mb-3 form-check">
      <%= f.check_box :remember_me, class: "form-check-input" if devise_mapping.rememberable? %>
      <%= f.label :remember_me, class: "form-check-label" if devise_mapping.rememberable? %>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
